# ignore datsets since the data is too big and can bring legal issues
/datasets/
preprocessing/datasets/tracks_with_genre.csv
.history/
.idea/
.vscode/
/webapp/user_uploaded_music/
/webapp/__pycache__/
/webapp/logs.log
/webapp/.DS_Store
/feature_extraction/.DS_Store
/feature_extraction/features/raw/
.DS_Store
.logs/log
/models/supervised/logs.log
weapp/music_list/
*.mp3
*.csv


