# ignore datsets since the data is too big and can bring legal issues
/datasets/
preprocessing/datasets/tracks_with_genre.csv
/webapp/music_list/
/.history/
/.idea/
/.vscode/
/webapp/user_uploaded_music/
/webapp/__pycache__/
/webapp/logs.log
/webapp/.DS_Store
/feature_extraction/features/
/feature_extraction/.DS_Store
/feature_extraction/features/all_features_raw.csv
/feature_extraction/features/chroma_stft_raw.csv
/feature_extraction/features/mfccs_raw.csv
/.DS_Store
/.logs/log
/models/supervised/logs.log


